# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Debugging files
.vscode/
.idea/

# Output files
dist/
build/
.DS_Store

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# System files
Thumbs.db
.DS_Store
